<h1>Pirate Things</h1>
<h2>{{pirate.name}}</h2>
<ul>
    <li>NAME: {{pirate.name}}</li>
<li>BIRTHPLACE: {{pirate.birthplace}}</li>
<li>DEATH YEAR: {{pirate.death_year}}</li>
<li>BASE: {{pirate.base}}</li>
<li>Known As: {{pirate.nickname}}</li>
</ul>
<div>
    <a href="http://localhost:3000/pirates">Hearken! back t' th' DeadPool</a>
</div>
<div>  
    <a href="http://localhost:3000/pirates/new">Add more Pirates</a>
</div>