

<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}}

			<div class="donut-container">

				<img class='main-img' src="{{this.img}}">

				<h3>  <a href="/{{this._id}}">{{this.name}}</a>  </h3>

				<p>$ {{this.price}} each </p>
				<form action="/{{this._id}}?_method=DELETE" method="POST">
       			 <input type="submit" value="Delete">	
				</form>

				<h3> <a href="/{{this._id}}/edit">Edit ME!!</a> </h3>
			</div>

		{{/each}}


</main>